{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="text-center">
    <h1 class="display-4">Bienvenido a UniDocs:</h1>
    <h3>El catálogo de revistas académicas</h3>
    <br>
    <p class="lead">Consulta y explora revistas académicas clasificadas por área, catálogo o por nombre.</p>
  </div>

  <div class="row mt-4">
    <div class="col-md-4">
      <div class="card shadow-sm h-100">
        <div class="card-body text-center">
          <h5 class="card-title" style="color: #004990;">Explorar por Área</h5>
          <p class="card-text">Descubre las revistas organizadas según su área temática.</p>
          <a href="{{ url_for('area') }}" class="btn btn-primary" style=" box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);">Ver Áreas</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mt-4 mt-md-0">
      <div class="card shadow-sm h-100">
        <div class="card-body text-center">
          <h5 class="card-title" style="color: #004990;">Catálogos</h5>
          <p class="card-text">Filtra las revistas por su presencia en catálogos reconocidos como JCR o SCOPUS.</p>
          <a href="{{ url_for('catalogos') }}" class="btn" style="background-color: #F7A11B; color: white; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);">Ver Catálogos</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mt-4 mt-md-0">
      <div class="card shadow-sm h-100">
        <div class="card-body text-center">
          <h5 class="card-title" style="color: #004990;">Navegar por Letra</h5>
          <p class="card-text">Encuentre toda la informacion relacionada con las revistas por la inicial de su nombre.</p>
          <a href="{{ url_for('explorar') }}" class="btn btn-primary" style=" box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);">Explorar</a> 
        </div>
      </div>
    </div>
  </div>

  <div class="text-center mt-5">
    <p class="text-muted">Total de revistas disponibles: <strong>{{ total }}</strong></p>
  </div>
</div>
{% endblock %}
